.home-background{
    width: 1024px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.Home{
    height: 470px;
    width: 400px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgb(243, 243, 243);
    box-shadow: 0 0 4em #70867a;
}

.NavBar{
    width: 400px;
    height: 50px;
    background-color: rgb(9, 182, 110);
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 0 4em #70867a;
}
.cardHome{
    margin-top: 10%;
}